NEXT_PUBLIC_API_URL=http://localhost:3000
GOOGLE_GENERATIVE_AI_API_KEY=
OPENAI_API_KEY=
NEXT_PUBLIC_POSTHOG_KEY=phc_X7WuYzsLvSXueWpSTwoM2mxxf370aqUHrrzHyl3Gmac
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
STATIC_EARLY_BIRD_TOKEN=
CONVEX_DEPLOYMENT=dev:clear-rhinoceros-559 # team: mup, project: collabute
NEXT_PUBLIC_CONVEX_URL=https://clear-rhinoceros-559.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://clear-rhinoceros-559.convex.site
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXT_PUBLIC_GITHUB_CLIENT_ID=
NEXT_PUBLIC_GITHUB_APP_SLUG=collabute
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=