@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

@layer components {
  .gradient-border-mask {
    --border-size: 1px;
    --border-angle: 0turn;

    background-image: conic-gradient(
      from var(--border-angle),
      hsl(var(--primary)) 0deg 90deg,
      hsl(var(--primary-foreground)) 90deg 180deg,
      hsl(var(--primary)) 180deg 270deg,
      hsl(var(--primary-foreground)) 270deg 360deg
    );
    background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2));
    background-position: center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
}

@layer utilities {
  .glow-effect {
    --glow-line-thickness: 1px;
    --glow-line-length: 20px;
    --glow-blur-size: 5px;
    --glow-offset: 0px;
    --glow-color: hsl(var(--primary));
  }
}

.cosmic-button {
  border-radius: 6px;
  background: radial-gradient(
      22.12% 100% at 48.06% 100%,
      rgba(206, 172, 247, 0.5) 0%,
      rgba(17, 23, 61, 0) 100%
    ),
    radial-gradient(
      58.31% 100% at 48.06% 100%,
      rgba(174, 120, 241, 0.5) 0%,
      rgba(17, 23, 61, 0) 100%
    ),
    rgba(46, 28, 69, 0.28);
  border-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  ) 1;
}

/* Add these styles to your globals.css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

/* Firefox specific */
input:-moz-autofill,
input:-moz-autofill:focus {
    background-color: transparent !important;
    color: inherit !important;
}

/* For all browsers */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent !important;
}